<style type="text/css">
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>

<table bgcolor="#D1DBE0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#505050;" width="100%">
	<tr>
		<td align="center"><br>
			<table cellpadding="0" cellspacing="0" width="550">
				<tr>
					<td bgcolor="#ffffff">
						<table cellpadding="0" cellspacing="0" style="padding: 8px 20px 10px 20px;" width="100%">
							<tr>
								<td align="left"><a href="#" style="color:#355380"><h1>YOUR LOGO</h1></a></td>
								<td align="right" style="font-size:12px; color:#7B7B7B;" valign="bottom">##DD.MM.YYYY##</td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" height="23" width="100%">
							<tr>
								<td width="10">&nbsp;</td>
								<td align="left" bgcolor="#355380" style="color:#ffffff; padding: 0 20px 0 10px">Slogan</td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left" style="padding: 17px 30px 10px 20px" valign="top" width="360">
									<div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:20px; color:#37598A;">Lorem ipsum</div>
									<div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:16px; color:#7789A2;">Lorem ipsum dolor sit amet</div>
									<div style="font-size:12px; padding: 18px 0 20px 0;">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
										sed diam nonumy eirmod tempor invidunt ut labore et
										dolore magna aliquyam erat, sed diam voluptua. At vero
										eos et accusam et justo duo dolores et ea rebum. <a href="#" style="color:#369;">>>></a>
									</div>
									<div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:20px; color:#37598A;">Duis autem</div>
									<div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:16px; color:#7789A2;">Duis autem vel eum</div>
									<div style="font-size:12px; padding: 18px 0 0 0;">
										Duis autem vel eum iriure dolor in hendrerit in vulputate
										velit esse molestie consequat, vel illum dolore eu feugiat
										nulla facilisis at vero eros et accumsan et iusto odio
										dignissim qui blandit <a href="#" style="color:#369;">>>></a>
									</div>
								</td>
								<td align="left" style="padding: 0 0 2px 0;" valign="top" width="190">
									<table cellpadding="0" cellspacing="0" width="188">
										<tr>
											<td bgcolor="#EAF0F3" height="28" style="background-color:#B0C4D7;font-family: Georgia, 'Times New Roman', Times, serif;font-size:12px; color:#355380; padding: 0 10px 0 11px;"><strong>Consetetur</strong></td>
										</tr>
										<tr>
											<td bgcolor="#EAF0F3" style="padding: 8px 8px 3px 21px;color:#369;">
												<div style="padding: 0 0 10px 0;">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
												<div style="padding: 0 0 10px 0;">At vero eos et accusam et justo duo dolores et ea rebum.</div>
												<div style="padding: 0 0 10px 0;">Stet clita kasd gubergren, no sea.</div>
												<div>At vero eos et accusam et justo duo dolores et ea rebum.</div>
											</td>
										</tr>
									</table>
									<table cellpadding="0" cellspacing="0" width="188">
										<tr>
											<td bgcolor="#EAF0F3" height="28" style="background-color:#B0C4D7;font-family: Georgia, 'Times New Roman', Times, serif;font-size:12px; color:#355380; padding: 0 10px 0 11px;"><strong>Accusam</strong></td>
										</tr>
										<tr>
											<td bgcolor="#EAF0F3" style="padding: 8px 8px 3px 21px;color:#369;">
												<div style="padding: 0 0 10px 0;">At vero eos et accusam et justo duo dolores et ea rebum.</div>
												<div>Stet clita kasd gubergren, no sea takimata sanctus est.</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td bgcolor="#B0C4D7" height="10" width="540"></td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" style="padding: 8px 20px 10px 20px;" width="100%">
										<tr>
											<td align="left">
												<span style="color:#737373;">
													$COMPANY_ADDRESS$, $COMPANY_CITY$, $COMPANY_STATE$, $COMPANY_ZIP$
												</span>
												<hr color="#dcdcdc" size="1">
												<span style="color:#929292;">
													<a href="http://$COMPANY_WEBSITE$" style="color:#5C7B9A;">$COMPANY_WEBSITE$</a>
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
