<html>
<head>
    <title></title>
</head>
<body style="background: #ddd;">
<div style="width: 100%; height: 100%; background: #ddd; padding: 40px 0;">
    <div style="width: 600px; margin: 0 auto; padding: 40px; background: #fff;">
        <table align="right" border="0" cellpadding="1" cellspacing="1" style="width:100%;">
            <tbody>
            <tr>
                <td>$company-logo$</td>
                <td style="text-align: right;">
                    <h2>$company-name$</h2>
                </td>
            </tr>
            </tbody>
        </table>

        <hr style="border: 1px solid #eee;" />
        <p>Dear $contact_name$,</p>

        <p>Thank you very much for subscribing to the vtiger CRM - annual support service.</p>

        <p><strong>Here is your self service portal login details:</strong></p>

        <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td><strong>User ID:</strong></td>
                <td>$login_name$</td>
            </tr>
            <tr>
                <td><strong>Password:</strong></td>
                <td>$password$</td>
            </tr>
            <tr>
                <td><strong>Url:</strong></td>
                <td>$URL$</td>
            </tr>
            </tbody>
        </table>

        <hr style="border: 1px solid #eee;" />
        <p>NOTE: We suggest you to change your password after logging in first time.</p>
    </div>
</div>
</body>
</html>