<style type="text/css">
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>

<table bgcolor="F4F4F4" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#828282;" width="100%">
	<tr>
		<td><br>
			<table align="center" cellpadding="0" cellspacing="0" width="552">
				<tr>
					<td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-01.gif" height="76" width="552">
						<table cellpadding="0" cellspacing="0" height="76" width="100%">
							<tr>
								<td align="left" style="padding:24px 0 0 28px;" valign="top"><a href="[site_URL]">$company-logo$</a></td>
								<td align="right" style="padding:20px 28px 0 0;" valign="top">
									<div style="font-size:18px; color:#3573AD;">##DD.MM.YYYY##</div>
									<div style="font-size:11px;color:#3573AD;"><a href="[SUBSCRIBE]" style="color:#3573AD;">Subscribe</a> | <a href="[UNSUBSCRIBE]" style="color:#3573AD;">Unsubscribe</a> | <a href="[FORWARD]" style="color:#3573AD;">Forward to a friend</a></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-02.gif">
						<table cellpadding="0" cellspacing="0" width="546">
							<tr>
								<td align="right" background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-03.gif"><img alt="" height="3" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-05.gif" width="41"></td>
							</tr>
							<tr>
								<td bgcolor="#D3E0EC">
									<table cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center" style="padding:13px 21px 13px 25px;" valign="top" width="100"><img alt="Picture" height="96" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/picture.gif" width="100"></td>
											<td align="left" style="padding:13px 0 13px 0;font-size:14px; color:#65788A;" valign="top">
												<strong>Duis autem</strong><br>
												Duis autem vel eum iriure dolor in hendrerit in vulputate velit
												esse molestie consequat, vel illum dolore eu feugiat nulla
												facilisis at vero eros et accumsan et iusto odio nissim qui
												blandit. Nulla facilisis at vero eros et accumsan et iusto odio
												dignissim qui blandit <a href="#" style="font-size:10px; color:#3573AD;">>>></a></td>
											<td height="41" valign="top" width="25"><img alt="" height="41" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-06.gif" width="25"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-04.gif" height="24" width="1"><img alt="" height="24" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-04.gif" width="1"></td>
							</tr>
							<tr>
								<td align="left" style="padding:0 25px 0 25px;">
									<div style="color:#6B8BAA; padding: 0 0 10px 0;"><strong>Dolor sit amet, consetetur sadipscing elit</strong>r</div>
									Dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore
									dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet
									clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero
									voluptua. est Lorem ipsum dolor sit amet.
								</td>
							</tr>
							<tr>
								<td align="right" style="padding:0 25px 0 25px;"><a href="#" style="color:#3573AD;">Read more <span style="font-size:10px;">>>></span></a></td>
							</tr>
							<tr>
								<td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-07.gif"><img alt="" height="49" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-07.gif" width="1"></td>
							</tr>
							<tr>
								<td align="left" style="padding:0 25px 0 25px;">
									<div style="color:#6B8BAA; padding: 0 0 10px 0;"><strong>Dolor sit amet, consetetur sadipscing elit</strong>r</div>
									Dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore
									dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet
									clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero
									voluptua. est Lorem ipsum dolor sit amet.
								</td>
							</tr>
							<tr>
								<td align="right" style="padding:0 25px 0 25px;"><a href="#" style="color:#3573AD;">Read more <span style="font-size:10px;">>>></span></a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td width="28"><img alt="" height="36" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-08.gif" width="28"></td>
								<td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-10.gif">&nbsp;</td>
								<td width="28"><img alt="" height="36" src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-09.gif" width="28"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-size:11px; color:#9DA8B7; padding: 15px 28px 0 28px;">
						$company-name$, $company-address$, $company-zip$ $company-city$, $company-state$<br>
						<hr color="#D4D4D4" size="1">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
