<table bgcolor="#e9e6d8" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top"><br>
			<table border="0" cellpadding="0" cellspacing="0" width="594">
				<tr>
					<td align="left">
						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="594">
							<tr>
								<td><img height="8" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-01.gif" width="594"></td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td height="76" width="27"><img alt=" " height="76" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-02.gif" width="27"></td>
											<td bgcolor="#51382c" style="background-color:#51382c;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td style="padding:0 0 0 16px;"><img alt=" " src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/logo.gif" style="margin:10px 0 0 0;"></td>
														<td align="right" style="padding:0 16px 0 0; color:#ffffff">
															slogan
														</td>
													</tr>
												</table>
											</td>
											<td height="76" width="32"><img alt=" " height="76" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-03.gif" width="32"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><img alt=" " height="38" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-04.gif" width="594"></td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td height="200" width="8"><img alt=" " height="200" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-05.gif" width="8"></td>
											<td bgcolor="#ef8700" style="background-color:#ef8700;" width="234">
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td height="187" style="color:#ffffff; padding:0 15px 0 15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:17px;" valign="top">
															<div style="margin:0 0 10px 0; font-size:18px; color:#0165ab;"><a href="#" style="color:#fff;">Duis autem vel</a></div>
															<div style="margin:0;">
																Duis autem vel eum iriure dolor in
																hendrerit in vulputate velit esse
																molestie consequat, vel illum
																dolore eu feugiat nulla facilisis at
																vero eros et accumsan et iusto
																odio dignissim qui blandit praesent.
																Duis autem vel eum iriure dolor in
																hendrerit in.
															</div>
														</td>
													</tr>
													<tr>
														<td height="13" width="234"><img alt=" " height="13" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-09.gif" width="234"></td>
													</tr>
												</table>

											</td>
											<td height="200" width="8"><img alt=" " height="200" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-06.gif" width="8"></td>
											<td><img alt=" " height="200" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/poster.gif" width="336"></td>
											<td height="200" width="8"><img alt=" " height="200" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-07.gif" width="8"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><img alt=" " height="32" src="[site_URL]/modules/EMAILMaker/templates/Cubes/i/i-08.gif" width="594"></td>
							</tr>
							<tr>
								<td bgcolor="#e9e6d8" style="background-color:#e9e6d8;">

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td width="20">&nbsp;</td>
											<td>
												<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;" width="`00%">
													<tr>
														<td style="padding:20px 40px 20px 20px; border-left:1px solid #c9c1b3; border-right:1px solid #c9c1b3; border-bottom:1px solid #c9c1b3;">
															<table border="0" cellpadding="0" cellspacing="0">
																<tr>
																	<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; line-height:20px;" valign="top">
																		<div style="margin:0 0 10px 0; font-size:18px;"><a href="#" style="color:#333333;">Lorem ipsum dolor sit amet</a></div>
																		<div style="margin:0 0 25px 0;">
																			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
																			eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
																			voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
																			kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
																			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
																			eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
																			voluptua.
																		</div>
																		<div style="margin:0 0 10px 0; font-size:18px;"><a href="#" style="color:#333333;">Duis autem vel</a></div>
																		<div style="margin:0 0 10px 0;">
																			Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
																			consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
																			et iusto odio dignissim qui blandit
																		</div>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td bgcolor="#e9e6d8" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#51382c; line-height:17px; background-color:#e9e6d8; padding:15px 0 10px 20px; border-bottom:1px solid #c3baad;" valign="top">
															<b>$COMPANY_NAME$</b><br>
															$COMPANY_ADDRESS$, $COMPANY_CITY$, $COMPANY_STATE$, $COMPANY_ZIP$<br>
															<a href="http://$COMPANY_WEBSITE$" style="color:#51382c;">$COMPANY_WEBSITE$</a>
														</td>
													</tr>
												</table>
											</td>
											<td width="24">&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

