<center>
	<table bgcolor="#8c0000" border="0" cellpadding="0" cellspacing="0" style="text-align:left;" width="600">
		<tr>
			<td background="[site_URL]/modules/EMAILMaker/templates/SeasonsGreetings/images/header.jpg" height="98" width="700">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="600">
				<table border="0" cellpadding="0" cellspacing="0" width="600">
					<tr>
						<td background="[site_URL]/modules/EMAILMaker/templates/SeasonsGreetings/images/left-bg.gif" valign="top" width="25">
							&nbsp;
						</td>
						<td background="[site_URL]/modules/EMAILMaker/templates/SeasonsGreetings/images/text-bg.jpg" style="font-family:Times, Verdana, Arial, sans-serif; color:#FFFFFF; font-size:15px;" valign="top" width="238">
							<span style="color:#efc15d; font-size:30px;">Happy Holidays!</span>
							<br/>
							<br/>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum turpis, varius id placerat nec, congue a risus. Vivamus ac quam ac nunc tincidunt accumsan sed eget nunc. Duis fringilla nulla sed justo feugiat laoreet. Nullam in mollis metus. Mauris euismod sem mattis odio ultrices accumsan. Nam vulputate ligula porta dolor pulvinar pharetra. Donec id nulla metus. Nunc molestie ante id nunc vestibulum eget gravida nibh tincidunt. Maecenas ut risus quis diam
							fermentum volutpat. Sed at auctor urna.
							<br/>
							<br/>
							- Joseph Ducci
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
						</td>
						<td background="[site_URL]/modules/EMAILMaker/templates/SeasonsGreetings/images/right-bg.jpg" valign="top" width="337">
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td background="[site_URL]/modules/EMAILMaker/templates/SeasonsGreetings/images/footer.jpg" height="39" width="600">
				<center><span style="color: rgb(255, 255, 255);">$company-name$, $company-address$, $company-zip$ $company-city$, $company-state$</span></center>
			</td>
		</tr>
	</table>
</center>
